:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

/* .card {
    width: 40%;
}

.title {
    font-size: x-large;
    left: 30%;
}

.input-form, .input-form-field {
    width: 40%;
    left: 30%;
} */

.button-add {
    /* left: 50%; */
    /* width: 20%; */
    background-color: #1976D2;
    color: white;
}