<mat-card class="card">

    <!-- Title of component -->
    <mat-card-title class="title">
        Dodawanie nowego pokoju
    </mat-card-title>

    <!-- Field to select number of floor where room will be add -->
    <mat-card-content>
        <mat-form-field 
        appearance="fill" 
        class="input-form">
            <mat-label> Piętro </mat-label> 
            <mat-select #floorNumber>
                <mat-option *ngFor="let floorNumber of floors.slice(1, floors.length)" [value]="floorNumber">
                {{ floorNumber }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    <!-- </mat-card-content> -->

    <!-- Textfield to write name of the new room -->
    <!-- <mat-card-content> -->
		<mat-form-field 
            appearance="fill" 
			class="input-form-field"
            [formGroup]="newRoomFormGroup" >
			<mat-label> Nazwa pokoju </mat-label>
			<input 
                matInput placeholder="Wpisz nazwę pokoju (np. 'Pokój 6C')" 
                formControlName="name"
                #roomName>
			<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="roomName.value=''">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>
	<!-- </mat-card-content> -->

    <!-- Text Field to write number of work sites -->
    <!-- <mat-card-content> -->
		<mat-form-field appearance="fill" 
			class="input-form-field"
            [formGroup]="planFormGroup">
			<mat-label> Liczba rzędów </mat-label>
			<input 
                matInput placeholder="Wpisz rzędów w pokoju" 
                type="number"
                min="1"
                formControlName="numberOfRows"
                #numberRowsOfWorksites
            />
			<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="numberRowsOfWorksites.value=''">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>

        <mat-form-field appearance="fill" 
			class="input-form-field"
            [formGroup]="planFormGroup">
			<mat-label> Liczba miejsc w rzędzie </mat-label>
			<input 
                matInput placeholder="Wpisz liczbę miejsc w rzędzie" 
                type="number"
                min="1"
                formControlName="numberOfColumns"
                #numberColumnsOfWorksites 
            />
			<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="numberColumnsOfWorksites.value=''">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>

        <!-- Button to change number of columns and rows in the plan -->
        <button mat-stroked-button
        class="button-reline"
        (click)="reline(
            +numberColumnsOfWorksites.value,
            +numberRowsOfWorksites.value
        )" >
        Przeskaluj
        </button>
	</mat-card-content>
    
    <mat-card-content>
        <app-room-plan #planView> </app-room-plan>
	</mat-card-content>
    

    <!-- Button to send the new room to the DataBase -->
    <mat-card-actions>
        <button mat-stroked-button
        class="button-add"
        (click)="postRoom(
            floorNumber.value,
            roomName.value
        )" >
        Dodaj pokój
        </button>
    </mat-card-actions>
    

</mat-card>
