<button class="button-class" mat-raised-button (click)="goToAddRoom()" >Utwórz nowy pokój</button>

<div class="mat-elevation-z9">
    <table mat-table  aria-label="Rooms" [dataSource]="dataSource">
      <!-- Id Room -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">ID</th>
        <td #ID mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Floor number Column -->
      <ng-container matColumnDef="floorNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Numer piętra</th>
        <td mat-cell *matCellDef="let row">{{row.floor}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="roomName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Nazwa pokoju</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
  
      <!-- Worksite number Column -->
      <ng-container matColumnDef="worksidesNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Liczba miejsc</th>
        <td mat-cell *matCellDef="let row">{{row.numberOfWorksites}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
    [length]="dataSource.roomsList.length"
    [pageSize]="pageSize"
    (page)="getNext($event)">
    </mat-paginator>
</div>