.full-width-table {
  width: 80%;
}

.not-full-width {
  width: 75%;
}

table {
  width: 100%;
}

td,
th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.button-add-reservation {
  background-color: #1976D2;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 200px;
}

.button-add-reservation:hover{
  background-color: #1d5e9e;
}

.container-go-to-add-reservation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-past-reservations{
    display: flex;
    justify-content: left;
    align-items: left;
    float: left;
}

.container-main-content {
  margin-top: 2%;
}

.past-reservations{
    background-color: rgb(231, 226, 226);
}
