 
  .title{
      left: 30%
  }
  
  .input-form{
      width: 100%;
      left: 3%;
  }
  
  .chips-form{
    width: 85%;
    left: 4%;
  }
  
  .cancel-button{
    float: right;
  }

  .edit-button{
      width: 30%;
      left: 3%;
  }

  .card{
    left: 20%;
    width: 60%;
}

  