<div class="container">
<mat-card class="card">
    <mat-card-title class="input-form">
      Edytuj rezerwację
    </mat-card-title>

    <div class="row">
        <div class="col-sm">
        <mat-card-content>
        <mat-form-field appearance="fill" class="input-form">
            <mat-label>Wybierz termin</mat-label>
            <mat-date-range-input [min]="tomorrow" [rangePicker]="picker" [formGroup]="dateRange">
            <input matStartDate formControlName="start" placeholder="Początek"
                [(ngModel)]="preparedReservationToInput.startDate">
            <input matEndDate formControlName="end" placeholder="Koniec"
                (dateChange)="getRooms(Floor.value, dateRange.value.start, dateRange.value.end)"
                [(ngModel)]="preparedReservationToInput.endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
            <mat-date-range-picker #picker> </mat-date-range-picker>
        </mat-form-field>
        </mat-card-content>
    
        <mat-card-content>
        <mat-form-field appearance="fill" class="input-form">
            <mat-label>Adresat rezerwacji</mat-label>
            <mat-select #User [(value)]="preparedReservationToInput.user">
            <mat-option *ngFor="let user of usersList" [value]="user">
                {{user.firstName}} {{user.lastName}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        </mat-card-content>
    
        <mat-card-content>
        <mat-form-field appearance="fill" class="input-form">
            <mat-label>Piętro</mat-label>
            <mat-select #Floor (selectionChange)="getRooms(Floor.value, dateRange.value.start, dateRange.value.end)"
            [(value)]="preparedReservationToInput.floor">
            <mat-option *ngFor="let floor of floors.slice(1, floors.length)" [value]="floor">
                {{floor}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        </mat-card-content>
    
        <mat-card-content>
        <mat-form-field appearance="fill" class="input-form">
            <mat-label>Pokój</mat-label>
            <mat-select #Room (selectionChange)="getWorksites(Room.value, dateRange.value.start, dateRange.value.end)"
            [(value)]="preparedReservationToInput.room">
            <div *ngIf="this.roomsList.length !== 0; else noRoomBlock">
                <mat-option *ngFor="let room of roomsList" [value]="room">
                {{room.name}}
                </mat-option>
            </div>
            <ng-template #noRoomBlock>
                <option disabled selected>
                <mat-option>
                    Brak wolnych pokoi
                </mat-option>
                </option>
            </ng-template>
            </mat-select>
        </mat-form-field>
        </mat-card-content>
        </div>

        <div class="col-sm">
            <mat-card-content>
                <app-room-plan width="320" height="320" modeReservation=true #planView></app-room-plan>
            </mat-card-content>
        </div>
    </div>
  
    <mat-card-actions>
        <button mat-stroked-button class="input-form-field"
            (click)="putReservation(User.value, dateRange.value.start, dateRange.value.end)">
            Zmodyfikuj rezerwację
        </button>
  
        <button mat-stroked-button routerLink='/reservations-table' class='button-mod-field'>
            Anuluj
        </button>
    </mat-card-actions>
  
  </mat-card>
</div>