<div>
    <h1 >Stacja kosmiczna - rezerwacje</h1>
    <style>th, th { border: 1px solid black; }</style> 
    <table style="margin: auto">
    <thead>
        <tr>
        <th>Id rezerwacji</th> <th>Imię</th> <th>Nazwisko</th> <th>Id miejsca</th> <th>Data rozpoczęcia</th> <th>Data zakończenia</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let reservation of reservations">
            <th>{{ reservation.id }}</th> 
            <th>{{ reservation.ownerFirstName }}</th>
            <th>{{ reservation.ownerLastName }}</th>
            <th>{{ reservation.workSiteId }}</th>
            <th>{{ reservation.startDate }}</th>
            <th>{{ reservation.endDate }}</th>
            </tr>
    </tbody>
    </table>
</div>