.title{
    left: 30%
}

.input-form{
    width: 100%;
    left: 3%;
}

.add-button{
    width: 70%;
    left: 5%;
}

.post-button{
    width: 32%;
    left: 35%;
}

.chips-form{
  width: 90%;
  left: 4%;
}

.card{
    left: 20%;
    width: 60%;
}

.cancel-button{
    float: right;
}
