div a {
    color: white;
}

.example-spacer{
    flex: 1 1 auto;

    justify-content: space-between;
}

.toolbar{
    display: flex;
    position: fixed;
}

.mat-toolbar{
    background-color: #1976d2;
    color: white;
}
.material-icons {
    position: relative;
    top: 4px; /*Change this to adjust the icon*/
}

mat-card img{
    object-fit: cover;
    display: block;
    float: right;
    left: 60%;
    width: 45%;
    height: 50%;
}

.label{
    width: 50%;
    display: block;
    text-align: justify;
    text-justify: auto;
}
