<div class="mat-elevation-z9">
  <table mat-table  aria-label="Reservations">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- First name Column -->
    <ng-container matColumnDef="ownerFirstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let row">{{row.ownerFirstName}}</td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="ownerLastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.ownerLastName}}</td>
    </ng-container>

    <!-- Worksite ID Column -->
    <ng-container matColumnDef="worksiteId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Worksite ID</th>
      <td mat-cell *matCellDef="let row">{{row.worksiteId}}</td>
    </ng-container>

    <!-- Reservations maker first name Column -->
   <ng-container matColumnDef="reservationMakerFirstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Imię twórcy rezerwacji</th>
      <td mat-cell *matCellDef="let row">{{row.reservationMakerFirstName}}</td>
    </ng-container>

    <!-- Reservations maker last name Column -->
  <ng-container matColumnDef="reservationMakerLastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwisko twórcy rezerwacji</th>
      <td mat-cell *matCellDef="let row">{{row.reservationMakerLastName}}</td>
    </ng-container>


    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
      <td mat-cell *matCellDef="let row">{{row.startDate}}</td>
    </ng-container>

    <!-- End Date Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
      <td mat-cell *matCellDef="let row">{{row.endDate}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<!--
  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>-->
</div>
<button class="button-class" mat-raised-button onclick="window.location.href=['/add-reservation']" >Dodaj rezerwację</button>